@import "config";

html,
body {
  width: 100%;
  height: 100%;
  @include reset-margin-padding();
}

body {

  font-family: "Trebuchet MS", Tahoma, sans-serif;
  @include fonts(13px, $font-height-normal, $font-weight-normal, normal, $color-white);

  background-image: url(../img/bg.png);
}

img {
  max-width: 100%;
  height: auto;
}

//
// UTIL
//
.visually-hidden:not(:focus):not(:active) { // https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}